
.DS_Store
applicazione/back_end/.idea/workspace.xml
applicazione/back_end/.idea/vcs.xml
applicazione/back_end/.idea/modules.xml
applicazione/back_end/.idea/misc.xml
applicazione/back_end/.idea/back_end.iml
ontologia/.DS_Store
