<div class="container">

  <div class="row">
    <div class="col-auto">

      <h4>Ricerca per: </h4>
      <div class="search_panel">
        <div class="row">
          <form (ngSubmit)="search()">
            <div class="form-group">
              <div class="form-row">

                <div class="col">
                  <label for="menu_regioni">Regione</label>
                  <select class="form-control" id="menu_regioni" style="width:auto;" (change)="updateRegione($event)">
                    <option value=" ">----</option>
                    <option *ngFor="let r of regioni" [value]="r.label">{{r.label}}</option>
                  </select>
                </div>

                <div class="col">
                  <button type="submit" class="btn btn-primary" style="width:auto; ">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <h4>Elenco di altri Vini per regione (wikidata)</h4>

      <div class="result_panel">

        <ng-container *ngFor="let v of vini">
          <div class="row">
            <div class="col-auto">
              <a>- {{v.label}}</a>
            </div>
            <div class="col-auto">
              <a class="link" *ngIf="v.uri" (click)="showDetails(v.uri)">[VEDI INFO] </a>
            </div>
          </div>
        </ng-container>

      </div>

    </div>

    <div class="col-auto" style="overflow-wrap: break-word;">

      <div class="details"  *ngIf="infobox">
        <h4>Dettagli Vino</h4>

        <dl class="row-bottom-margin">
          <dt>Descrizione</dt>
          <dd>{{descrizione}}</dd>
        </dl>

        <dl class="row-bottom-margin">
          <dt>Denominazione</dt>
          <dd>{{denominazione}}</dd>
        </dl>

        <dl class="row-bottom-margin" *ngIf="image">
          <dt>Immagine</dt>
          <img src="{{image}}" alt="Wine image" width="250" height="300">
        </dl>

      </div>
    </div>
  </div>
</div>




